*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
:root{
    --primary-bg-color:#e9f1f7;
    --secondary-bg-color:white;
    --primary-txt-color:#8265eb;
    --secodary-txt-color:#54426B;
	--txt-color:black;
	--highlighted-color:#623CEA;

}
body{
	background-color: var(--primary-bg-color);
	}
/* ---------- utility ---------- */
.container{
	max-width: 1000px;
	margin: auto;
}
h2{
	color: var(--primary-txt-color);
}

a{
	text-decoration: none;
}
/* ----------------- Navbar section ----------------- */

#navbar {
	display: flex;
	background-color: var(--secondary-bg-color);
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
  }
  .logo {
	color: var(--highlighted-color);
	font-weight: bold;
	font-size: 2rem;
  }

  .links {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  .links a {
	color: var(--primary-txt-color);
	margin: 0 10px;
	transition: .1s ease-in-out;
  }
  .links li:nth-child(-n+3) a:hover{
	border-bottom: var(--primary-txt-color) solid 2px;
  }
  #nav-signup-link{
	color: var(--primary-txt-color);
	padding: 3px 8px;
	background-color: var(--secondary-bg-color);
	border: 2px solid var(--primary-txt-color);
	transition: .1s ease-in-out;
  }
  #nav-signup-link:hover{
	background-color: var(--primary-txt-color);
	color: var(--secondary-bg-color);
  }
  #nav-login-link{
	color: var(--primary-txt-color);
	padding: 3px 8px;
	border: 2px solid var(--primary-txt-color);
	transition: .1s ease-in-out;
  }
  #nav-login-link:hover{
	color: var(--secondary-bg-color);
	background-color: var(--primary-txt-color);
  }

  #nav-dashboard-link{
	display: inline-block;
    width: 30px;
    height: 100%;
  }
  #nav-dashboard-link img{
	width: 100%;
  }
/* Nav link Dropdown styles */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--secondary-bg-color);
	min-width: 180px;
	padding: 10px;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: var(--primary-txt-color);
	padding: 12px 16px;
	display: block;
	text-align: left;
	padding: 8px;
  }
  
  .dropdown-content a:hover {
	background-color: var(--primary-bg-color);
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* ------ User Dashboard ------ */
 
  #user-dashboard {
    position: fixed;
    top: 0;
    right: -300px; /* Start off-screen to the right */
    width: 300px;
    height: 100%;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
	transition: right 0.3s; /* Smooth transition for sliding effect */
}

#user-dashboard.open {
    right: 0; /* Slide in from the right when open class is applied */
}   
  /* Styles for profile details */

  #user-dashboard * {
	margin: 5px 0;
  }
  /* Styles for buttons */
  #user-dashboard button {
	text-align: center;
	background-color: #ebe7fa;
	color: var(--primary-txt-color);
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 10px;
  }
  #user-dashboard button:hover {
	background-color: var(--primary-txt-color);
	color: var(--secondary-bg-color);
  }
  .policies ul li{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .contact-us a{
	padding: 5px 10px;
	background-color:#ebe7fa ;
	color: var(--primary-txt-color);
  }
  .contact-us a:hover{
	background-color: var(--primary-txt-color);
	color: var(--secondary-bg-color);
  }

/* -------------------- Main container styles ----------------- */
.main-container {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .content {
	width: 100%;
	padding-right: 20px;
  }
  .illustration img {
	max-width: 100%;
  }
  
  /* Text styles */
  h1 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 15px;
  }
  .main-btn{
	color: var(--secondary-bg-color);
	background-color: var(--highlighted-color);
	padding: 8px 24px;
  }
  .main-btn:hover{
	background-color: var(--primary-txt-color);
  }
  .insucare {
	color: var(--highlighted-color);
	font-weight: bold;
  }
  

/* --------------- Services section styles -------------------- */
.service-container{
	padding: 50px 0p 0 0;

}
.service-container h2{
	font-size: 36px;
	padding-bottom: 30px;
}
#services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
  }
  
  .service-card {
	display: flex;
	flex-direction: row;
	max-width: 400px;
	background-color: var(--secondary-bg-color);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
  }
  
  .service-card:hover {
	transform: translateY(-5px);
  }
  
  .service-info {
	flex: 1;
  }
  
  .service-info h3 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #333;
  }
  
  .service-info p {
	font-size: 16px;
	line-height: 1.6;
	color: #666;
  }
  
  .service-links {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
  }
  
  .service-links a {
	padding: 8px 12px;
	background-color: var(--highlighted-color);
	color: var(--secondary-bg-color);
	border-radius: 2px;
	transition: 0.3s;
  }
  
  .service-links a:hover {
	background-color: var(--primary-txt-color);
  }
   
  .service-images{
	width: 40%;
	padding-left: 2px;
  }
  .service-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-right: 20px;
  }
  
/* ---------------- About Us section styles ----------------- */
#about-us {
	margin: 0 auto;
	padding: 50px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .about-content {
    width: 100%;
	padding-right: 20px;
  }
  
  .about-image {
	margin-left: 20px;
  }
  
  .about-image img {
	max-width: 100%;
  }
  
  /* Text styles */
  #about-us h2 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  #about-us p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 15px;
  }
  
/* --------------- login form style -------------- */
  .login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--secondary-bg-color);
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
  }

  .login-form h2 {
	margin-bottom: 16px;
	color: var(--highlighted-color);
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
  }

  .login-form button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: var(--highlighted-color);
	color: var(--secondary-bg-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  .login-form button[type="submit"]:hover {
	background-color: var(--primary-txt-color);
  }

  .login-form a {
	color: var(--highlighted-color);
	display: block;
	text-align: center;
	margin-top: 10px;
  }


  /* ------------------------- Signup form style ----------------- */
  .signup-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--secondary-bg-color);
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
  }

  .signup-form h2 {
	margin-bottom: 16px;
	color: var(--highlighted-color);
  }

  .signup-form input[type="text"],
  .signup-form input[type="password"],
  .signup-form input[type="tel"],
  .signup-form input[type="email"],
  .signup-form textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
  }

  .signup-form input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: var(--highlighted-color);
	color: var(--secondary-bg-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  .signup-form input[type="submit"]:hover {
	background-color: var(--primary-txt-color);
  }

  .signup-form a {
	color: var(--highlighted-color);
	display: block;
	text-align: center;
	margin-top: 10px;
  }

  /* --------------------- Testimonials section styles -------------------- */
  
#testimonials {
	padding: 50px 20px;
	text-align: center;
  }
  
  .testimonial-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin-top: 30px;
  }
  
  .testimonial {
	flex: 1 1 300px;
	background-color: var(--secondary-bg-color);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial blockquote {
	font-style: italic;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 20px;
  }
  
  .testimonial cite {
	font-weight: bold;
	font-size: 16px;
  }
  

/* ----------------- Insurance Resources section styles ---------------------- */
#resources {
	padding: 50px 0px;
	text-align: center;
  }
  
  .resource-list {
	list-style-type: none;
	padding: 20px;
	margin: 0;
  }
  
  .resource-list li {
	margin-bottom: 15px;
	background-color: var(--secondary-bg-color);
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
  }
  
  .resource-list li:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .resource-list a {
	color: var(--secodary-txt-color);
	font-size: 18px;
  }
  

/* -------------------- Contact Us section styles ------------------------ */
#contact-us {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-bg-color);
	padding: 50px 20px;
  }
  
  .contact-content {
	flex: 1;
	max-width: 600px;
	padding: 20px;
	text-align: left;
  }
  
  .contact-content h2 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  .contact-content p {
	font-size: 18px;
	margin-bottom: 20px;
  }
  
  .contact-content form {
	margin-bottom: 20px;
  }
  
  .contact-content label {
	display: block;
	margin-bottom: 5px;
  }
  
  .contact-content input,
  .contact-content textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  .contact-content button {
	padding: 10px 20px;
	background-color: var(--btn-color);
	color: var(--secondary-bg-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .contact-content button:hover {
	background-color: var(--primary-txt-color);
  }
  
  .contact-info {
	flex: 1;
	max-width: 400px;
	padding: 20px;
	text-align: left;
  }
  
  .contact-info h3 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  .contact-info ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
  }
  
  .contact-info li {
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .contact-info li span {
	font-weight: bold;
	margin-right: 5px;
  }
  
  .social-icons {
	display: flex;
  }
  
  .social-icons a {
	margin-right: 10px;
	width: 30px;
	height: 30px;
  }
  
  .social-icons img {
	width: 100%;
	height: 100%;
  }
  
  /* ------------------------------- footer ------------------------------ */
footer {
	margin-top: 30px;
	background-color: var(--secondary-bg-color);
	color: var(--secodary-txt-color);
	padding: 20px 0;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 20px;
  }
  
  .footer-links ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
  }
  
  .footer-links ul li {
	margin-right: 20px;
  }
  .footer-logo h1{
	color: var(--highlighted-color);
  }
  .footer-links a {
	color: var(--primary-txt-color);
  }
  
  .footer-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;

  }
  
  .footer-social a{
	margin-left: 10px;
	width: 30px;
	height: 100%;
  }
  .footer-social a img{
	width: 30px;
	height: 100%;
  }
  
  .footer-info {
	text-align: center;
  }
  
  .footer-info p {
	font-size: 1rem;
  }
  
  /*   --------------------------------- END ---------------------------------- */